{
  debug
}

:8080 {
    route {
        handle /app* {
            lua_file ./app.lua
        }

        handle / {
            lua `
                local req = __CADDY_REQUEST
                local res = __CADDY_RESPONSE
                res.Status = 200
                res.Body = "Hi from global __CADDY vars!"
            `
        }
    }
}

