{
  debug
}

:8080 {
    route {
        handle /app* {
            lua_file ./logger.middleware.lua
            lua_file ./app.lua
        }

        handle / {
            lua `
                local res = __LOOTBOX_RES
                res.Status = 200
                res.Body = "Hi from LOOTBOX"
            `
        }
    }
}
